/* error PAGE */

.error-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,52,87,1)), color-stop(100%, rgba(52,76,110,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344C6E', endColorstr='#003457',GradientType=1 ); /* ie6-9 */
    overflow: hidden ;
}

.error-container .error {
    width: 450px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -275px;
    margin-top: -174px;
    padding: 50px;
    text-align: center;
}

.error-container .error .error-content {
    padding: 40px;
    background: #fff;
}

.error-container .error .logo {
    margin-bottom: 80px;
    text-align: center;
}

.error-container .error .logo img {
    width: 300px;
}

.error-container .error a {
    width: 100%;
    color: #444;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}