.container .content .panel .week {
	margin-right: 30px;
}

.container .content .panel .week .fa {
	font-size: 13px;
}

.container .content .panel .week a {
	font-size: 16px;
	margin: 0 10px;
}

.container .content .panel > div {
	margin-right: 30px;
}

.container .content .table table {
	width: 100%;
}

.container .content .title {
	float: left;
	display: block;
	margin-bottom: 30px;
}

.container .content .filter .title {
	font-size: 18px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
	float: none !important;
}

.container .content .filter {
	clear: both;
}

.container .content .add .button {
	float: right;
}

.container .content .add .blocks .title {
	padding-bottom: 0;
}

.container .content .table.dayp table th, .container .content .table.dayp table td {
	max-width: none;
	min-width: 100px;
	width: 100px;
}