html, body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
}

* {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	text-decoration: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

/* MAIN STYLES */
.col-5 {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

aside {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 240px;
	background: #344c6d;
	z-index: 2;
}

aside .logo {
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #456693;
	padding: 0 30px;
	box-sizing: border-box;
}

aside .logo img {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}

aside .exit {
	position: absolute;
	bottom: 0;
	box-sizing: border-box ;
	left: 0;
	right: 0;
	padding: 20px 30px;
	border-top: 1px solid #456693;
}

aside .exit a {
	font-size: 16px;
	color: #fff;
}

.container {
	padding-left: 240px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.container header {
	height: 70px;
	border-bottom: 1px solid #eee;
	font-size: 0;
}

aside .menu {
	box-sizing: border-box;
	padding: 30px;
}

aside .menu ul li:first-child {
	padding-top: 0;
}

aside .menu ul li {
	list-style-type: none;
	display: block;
	padding: 16px 0;
}

aside .menu ul li a {
	font-weight: 600;
	color: #fff;
	font-size: 16px;
}

header .col-5:last-child {
	text-align: right;
}

header .user {
	height: 70px;
	line-height: 70px;
	display: inline-block;
	padding: 0 30px;
	border-left: 1px solid #eee;
}

header .user a {
	font-size: 16px;
	color: 555;
}

.container .content {
	padding: 40px;
}

header .user .notif {
	margin-right: 25px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

header .user .notif .fa {
	font-size: 18px;
}

header .user .notif .count {
	position: absolute;
	top: 18px;
	left: 15px;
	background-color: red;
	width: 18px;
	height: 18px;
	text-align: center;
	border-radius: 90px;
	line-height: 1.3;
}

header .user .notif .count span {
	font-size: 12px;
	color: #fff;
	font-weight: 800;
}

/* SIGNIN PAGE */

.signin-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,52,87,1)), color-stop(100%, rgba(52,76,110,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* ie10+ */
	background: linear-gradient(45deg, rgba(0,52,87,1) 0%, rgba(52,76,110,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344C6E', endColorstr='#003457',GradientType=1 ); /* ie6-9 */
	overflow: hidden ;
}

.signin-container .signin {
	width: 450px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -275px;
	margin-top: -288px;
	padding: 50px;
}

.signin-container .signin .signin-content {
	padding: 40px;
	background: #fff;
}

.signin-container .signin input {
	display: block;
	font-size: 16px;
	width: 100%;
	padding: 15px 15px;
	border-radius: 5px;
	border: none;
	background: none;
	box-shadow: none;
	outline: none;
	background: transparent;
	border-bottom: 2px solid #aaa;
	border-radius: 0;
	box-sizing: border-box;
	margin-bottom: 20px;
	color: #222;

	transition: 0.2s linear;
}

.signin-container .signin input:focus {
	border-color: #0091cf;
}

.signin-container .signin input::-webkit-input-placeholder {color:#aaa;}
.signin-container .signin input::-moz-placeholder          {color:#aaa;}/* Firefox 19+ */
.signin-container .signin input:-moz-placeholder           {color:#aaa;}/* Firefox 18- */
.signin-container .signin input:-ms-input-placeholder      {color:#aaa;}

.signin-container .signin .button {
	display: block;
	font-size: 16px;
	width: 100%;
	padding: 15px 10px;
	margin-top: 40px;
	background: #0091cf;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
	cursor: pointer;
}

.signin-container .signin .forgot {
	padding-top: 30px;
	text-align: center;
	width: 100%;
}

.signin-container .signin .forgot a {
	font-size: 16px;
	color: #0091cf;
}

.signin-container .signin .logo {
	margin-bottom: 80px;
	text-align: center;
}

.signin-container .signin .logo img {
	width: 300px;
}

/* NEWS PAGE */

.container .content .title {
	font-size: 24px;
	float: left;
	font-weight: 600;
}

.container .content .add {
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.container .content .add .title {
	color: #456693;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
	float: none;
}

.container .content .add .button {
	display: inline-block;
	background: #456693;
	padding: 10px 15px;
	color: #fff;
	float: right;
	cursor: pointer;
}

.container .content .add .cancel {
	display: inline-block;
	background: #456693;
	padding: 10px 15px;
	color: #fff;
	float: right;
	cursor: pointer;
	display: none;
}

.container .content .add .block {
	clear: both;
	padding: 20px 0;
	display: none;
	border-bottom: 1px solid #ddd;
}

.container .content .add .block .name {
	margin-bottom: 10px;
}

.container .content .add .block input {
	border: 1px solid #ddd;
	width: 400px;
	padding: 10px;
	outline: none;
	box-shadow: none;
}

.container .content .add .block textarea {
	border: 1px solid rgb(221, 221, 221);
	width: 444px;
	padding: 10px;
	height: 101px;
	outline: none;
	box-shadow: none;
	margin: 0px;
}

.container .content .add .block input[type='submit'] {
	width: auto;
	outline: none;
	box-shadow: none;
	display: inline-block;
	color: #344c6d;
	font-weight: 600;
	background: #fff;
	border: none ;
	margin-top: 10px;
	padding: 0;
	cursor: pointer;
}

.container .content .blocks .block {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}

.container .content .add {
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.container .content .block .edit .title {
	color: #456693;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 20px;
	float: none;
}

.container .content .block .edit .button {
	display: inline-block;
	background: #456693;
	padding: 10px 15px;
	color: #fff;
	float: right;
	cursor: pointer;
}

.container .content .block .edit .cancel {
	display: inline-block ;
	margin-left: 20px;
	cursor: pointer;
}

.container .content .block .edit {
	clear: both;
	padding: 20px 0;
	display: none;
}

.container .content .block .edit .name {
	margin-bottom: 10px;
}

.container .content .block .edit input {
	border: 1px solid #ddd;
	width: 400px;
	padding: 10px;
	outline: none;
	box-shadow: none;
}

.container .content .block .edit textarea {
	border: 1px solid rgb(221, 221, 221);
	width: 444px;
	padding: 10px;
	height: 101px;
	outline: none;
	box-shadow: none;
	margin: 0px;
}

.container .content .block .edit input[type='submit'] {
	width: auto;
	outline: none;
	box-shadow: none;
	display: inline-block;
	color: #344c6d;
	font-weight: 600;
	background: #fff;
	border: none ;
	margin-top: 10px;
	padding: 0;
}

.container .content .blocks .block .buttons {
	float: right;
}

.container .content .blocks .block .buttons .button {
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.container .content .blocks .block .buttons .button:first-child {
	color: #344c6d;
}

.container .content .blocks .block .buttons .button:nth-child(2) {
	color: red;
}

.container .content .blocks .block .name {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 5px;
}

.container .content .blocks .block .date {
	color: #777;
}

.container .content .blocks .block .text {
	margin-top: 15px;
}

.container .content .blocks .block img {
	margin-top: 10px;
}

/* SHEDULE PAGE */

.container .content .upload {
	margin-bottom: 30px;
}

.container .content .upload a {
	color: #344c6d;
	text-decoration: underline;
	font-weight: 600;
}

.container .content .filter * {
	display: inline-block;
	vertical-align: middle;
}

.container .content .filter .button {
	padding: 8px 18px;
	border: 2px solid #ddd;
	border-radius: 90px;
	cursor: pointer;
	transition: 0.2s linear;
}

.container .content .filter .button.active {
	border-color: #344c6d;
	color: #344c6d;
	border-width: 2px;
	font-weight: 700;
}

.container .content .filter .button.enter {
	background-color: #344c6d;
	color: #fff;
	font-weight: 700;
	border-color: #344c6d;
}

.container .content .filter .title {
	margin-right: 10px;
}

.container .content .filter .modes > div {
	margin: 0 10px;
}

.container .content .panel {
	margin-top: 30px;
	font-size: 0;
}

.container .content .panel * {
	display: inline-block;
	vertical-align: middle;
}

.container .content .panel .group select {
	width: 170px;
	height: 34px;
	margin-left: 10px;
}

.container .content .panel .days {
	font-size: 0;
	margin-right: 20px;
}

.container .content .panel .button {
	padding: 6px 14px;
	border: 1px solid #ddd;
	cursor: pointer;
	transition: 0.2s linear;
}

.container .content .panel .button.active {
	color: #fff;
	background: #344c6d;
}

.container .content .table {
	width: 100%;
	overflow: scroll ;
	margin-top: 40px;
}

.container .content .table table {
	text-align: left;
	border-collapse: collapse;
}

.container .content .table table td, .container .content .table table th {
	min-width: 130px;
	border: 1px solid #ddd;
	padding: 5px;
}

.container .content .table table td:first-child, .container .content .table table th:first-child {
	min-width: 100px;
}

.container .content .table table td:nth-child(2), .container .content .table table th:nth-child(2) {
	min-width: 50px;
}

/* NOTIFICATIONS PAGE */

.container .content .add .block .name .sub {
	display: inline-block;
	margin-right: 30px;
}

.container .content .add .block .name .ms-parent input {
	border: none;
	width: auto;
	outline: none;
	box-shadow: none;
}

.container .content .add .block .name .ms-parent .ms-search {
	display: none;
}

.container .content .add .block .name .ms-parent {
	width: 300px !important;
}

.notifications .filter .button {
	margin-left: 0 !important;
}

.notifications .filter {
	margin-bottom: 40px;
}

.notifications .blocks.sent {
	display: none;
}

.container .content.notifications .blocks .block .image {
	width: 30px;
	height: 30px;
	text-align: center ;
	line-height: 28px;
	border: 1px solid #222;
	border-radius: 90px;
	float: left;
	margin-right: 20px;
}

.container .content.notifications .blocks .block .image a {
	font-size: 18px;
}

.container .content.notifications .blocks .block .text {
	clear: both;
}

.response-container{
	width: 100%;
}

.raiting iframe {
	display: block ;
	clear: both ;
}

/* CERTIFICATES PAGE */

.certificates .title {
	display: block;
	float: none !important;
	margin-bottom: 20px;
}

.certificates .filter {
	display: block;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.certificates .filter .button {
	border-color: transparent !important;
	background: #344c6d;
	color: #fff;
}

.certificates .filter input {
	border: 1px solid #ddd;
	width: 40px;
	height: 26px;
	margin: 0 20px;
	outline: none;
	padding: 0 10px;
}

.certificates table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.certificates table td, .certificates table th {
	padding: 15px 0;
	border: 1px solid #ddd;
}

.certificates table td.ready {
	background: rgba(0, 128, 0, 0.4);
}

.certificates table td.during {
	background: rgba(255, 255, 0, 0.4);
}

.certificates .history .title {
	font-size: 22px;
}

.container .history .button {
	padding: 8px 24px;
	border: 2px solid #ddd;
	border-radius: 90px;
	cursor: pointer;
	border-color: transparent !important;
	background: #344c6d;
	color: #fff;
	display: inline-block;
	font-weight: 600;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
	aside {
		width: 200px;
	}

	aside .menu {
		padding: 20px;
	}

	.container {
		padding-left: 200px;
	}

	aside .logo {
		padding: 0 20px;
	}
}

@media only screen and (max-width: 550px) {
	.signin-container .signin .logo img {
		width: 220px;
	}

	.signin-container .signin {
		width: 300px;
		margin-left: -200px;
		margin-top: -288px;
	}
}

@media only screen and (max-width: 380px) {
	.signin-container .signin {
		width: 270px;
		margin-left: -185px;
		margin-top: -254px;
	}

	.signin-container .signin .logo {
		margin-bottom: 50px;
	}

	.signin-container .signin .signin-content {
		padding: 30px;
	}

	.signin-container .signin input {
		margin-bottom: 15px;
	}

	.signin-container .signin .logo img {
		width: 200px;
	}
}


@media only screen and (max-height: 540px) {
	.signin-container .signin {
		position: relative;
		margin-top: 50px;
		margin-bottom: 50px;
		top: 0;
	}

	.signin-container {
		height: auto;
	}
}


